
h1 {
  color: red;
}

h2 {
    background-color: green;
    color: white;
    font-size: 18px;
    
}

h1,h2,p,ul,li{
    box-sizing: border-box;
    padding: 5px;
}

span {
    color: red;

}

section .caption{
    padding: 35px;
}

.logo {
    height: 50px;
    width: 160px;
}

.block {
    background-color: blue;
    color: white;
    width: 100px;
    height: 70px;
    box-sizing: content-box;
    margin-bottom: 150px;
    font-size: 13px;
}





li {
    border: 1px solid black;
}